<% title 'Upcoming events' %>

<div id="section-calendar" tabindex="-1" role="tabpanel" aria-labelledby="calendar">
  <section>
    <h2>Today</h2>
    <% calendar.events_between(DateTime.now.beginning_of_day..DateTime.now.end_of_day).each do |event| %>
      <%= erb :event, locals: { event: event } %>
    <% end %>
  </section>
  <section>
    <h2>Next <%= calendar.days_lookahead %> days</h2>
    <% calendar.events_between(DateTime.now.end_of_day..30.days.from_now).each do |event| %>
      <%= erb :event, locals: { event: event } %>
    <% end %>
  </section>
</div>

<div id="section-connect" tabindex="-1" class="hidden" role="tabpanel" aria-labelledby="connect">
  <section>
    <h2>Connect <span>this calendar to your own</span></h2>
    <p>Subscribe: <a href="<%= feed_url %>"><%= feed_url %></a> (Outlook, iCal, Google Calendar)</p>
</section>
</div>
